@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');
/* client/src/index.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  font-family: 'Inter', system-ui, sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.posts{
    background-color: aliceblue;
}

body{
    background-color:  rgba(255, 228, 196, 0.06);
}